@import '../../../mixins';

.modal {
  position: fixed;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,103,138,0.9);
  color: #fff;
  padding: 50px 100px;
  z-index: 99;
  @include element('body') {
    position: absolute;
    width: 550px;
    left: 50%;
    top: 50%;
    margin: -130px -275px;
    text-shadow: 1px 1px 0px #000;

    h1, h2, h3 {
      text-transform: uppercase;
      text-align: center;
      margin:20px auto;
      text-shadow: 1px 1px 0px #fff;
    }

    @include element('button') {
      @include modifier('close') {
        background: transparent;
        color:white;
        display:block;
        margin:auto;
        width:50px;
        height:50px;
        line-height:35px;
        text-align:center;
        text-decoration:none;
        font-size:1.08em;
        padding:5px;
        border: 3px solid white;
        border-radius:50%;
        text-shadow: 0 0 5px #333;
        box-shadow: 0 0 2px #333;
        &:hover {
          color:#ff0000;
          border: 3px solid #ff0000;
        }
      }
    }
  }

  @include element('enter') {
    opacity: 0;
    transform: scale(.7);
    transition: all .2s;
    @include modifier('active') {
      opacity: 1;
      transform: scale(1);
    }
  }
  @include element('leave') {
    opacity: 1;
    transform: scale(1);
    transition: all .2s;
    @include modifier('active') {
      opacity: 0;
      transform: scale(.7);
    }
  }
}
