@import '../../mixins';

.card {
	max-width: 400px;
  width: 100%;
  margin: auto;
  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  padding: 1rem 0;
  padding-top: 0;
  overflow:hidden;
  display: inline-block;
  margin: 15px;
  height: 377px;
  transition: .18s linear .22s;
  &:hover {
    transform: scale(1.08);
    // box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(107, 107, 107, 0.4);
  }
  @include element('title') {
    font-size: 1.75rem;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    color: #333;
    margin-top: .5rem;
    font-weight: b700;
    padding: 0 1rem;
  }

  @include element('photo') {
     width: 100%;
     display: block;
     margin-bottom: .75rem;
  }

  @include element('meta') {
   @include element('favicon') {
     display: block;
     vertical-align: middle;
     float: left;
     margin-right: .5rem;
     margin-left: 1rem;
     width: 16px;
     height: 16px;
   }

   @include element('timestamp') {
     font-size: .75rem;
     color: #999;
     line-height: 18px;
     display: block;
     margin-top: 0px;
   }
 }

  @include element('description') {
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 0 1rem;
    color: #555;

    @include element('paragraph') {
      line-height: 1.51;
      margin-top: 0;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
